
    /* adjusts the space between the social icons in the footer */
@media screen and (max-width: 768px){
    footer ul li .fa{
        padding: 7px;
    }
    
    #fa-icons-tw{
        padding-left: 0;
    }
}

    /* changes the orientation of the list items in the footer for tablets and bigger devices */
@media screen and (min-width: 768px){
    #footerList{
        display: inline-flex;
    }
    ul#footerList li a{
        padding-right: 20%;
    }
}

    /* resizes the text in the header for tablets and devices wider than 425 pixels but not more than 768 pixels */
@media screen and (max-width: 768px),(min-width: 425px){
    h5#cover-text{
        font-size: 20px;
        position: absolute;
        top: 10%;
        right: 10%;
        left: 10%;
    }
}

    /* resizes the text in the header for mobile devices smaller than 425 pixels */
@media screen and (max-width: 425px){
    h5#cover-text{
        font-size: 15px;
        position: absolute;
        top: 10%;
        right: 20%;
        left: 20%;
    }
}

    /* resizes the text in the header for larger screens and 4K screens */
@media screen and (min-width: 1440px){
    h5#cover-text{
        font-size: 30px;
        position: absolute;
        top: 5%;
    }

    ul#footerList li a{
        padding-right: 25%;
    }
}

    /* adds a bit of spacing between each card item on mobile devices */
@media screen and (max-width:425px){
    .card{
        margin-bottom: 7px;
    }
}